*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .containter{ 
   background-color: lightblue

} */

.logo{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
}
.logo h1{
    font-family: monospace;
    border-top: 2px groove white;
    border-bottom: 2px groove white;
    
    /* outline-offset: 5px; */
}
.logo img{
    width: 10%;
    height: 10%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 300px;
   
}


input{
    margin: 20px;
   
}

.submitbtn{
    width: 150px;
    height: 40px;
    padding:10px;
    position: relative;
    left: 20px;
    border: none;
    background-color: #912c00;
    color: white;
    font-size: 15px;
    border-radius: 8px;
}

.submitbtn:hover{
    background-color: #612c11;
    border:none;
}